<div>
    <table id="table">
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Identity Card</th>
            <th>User Name</th>
            <th>Date Of Birth</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Role</th>
            <th>Image</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>

        <tr *ngFor="let u of users">
            <td>{{u.id}}</td>
            <td>{{u.fullName}}</td>
            <td>{{u.identityCard}}</td>
            <td>{{u.userName}}</td>
            <td>{{u.dateOfBirth| date : 'dd/MM/yyyy'}}</td>
            <td>{{u.gender}}</td>
            <td>{{u.email}}</td>
            <td>{{u.role}}</td>
            <td>
                <ng-container *ngIf="u.imageFileName != 'https://localhost:44396/api/auth/images/null'">
                    <img [src]="u.imageFileName">
                </ng-container>

                <ng-container *ngIf="u.imageFileName == 'https://localhost:44396/api/auth/images/null'">
                    <img src="\assets\images\no-profile.png">
                </ng-container>
            </td>
            <td>
                <a routerLink="/auth/update/{{u.id}}">
                    <button mat-flat-button color="primary">Update</button>
                </a>
            </td>
            <td>
                <button mat-fab color="primary" aria-label="Example icon button with a delete icon"
                    (click)="deleteUser(u.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </tr>
    </table>
</div>
<br><br>