<div>

    <table id="table">
        <tr>
            <th>ID</th>
            <th>Start date order</th>
            <th>Return date order</th>
            <th>Actual return date</th>
            <th>user ID</th>
            <th>car ID</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>

        <tr *ngFor="let o of orders">
            <td>{{o.id}}</td>
            <td>{{o.startDate| date : 'dd/MM/yyyy'}}</td>
            <td>{{o.returnDate| date : 'dd/MM/yyyy'}}</td>
            <td>{{o.actualReturnDate| date : 'dd/MM/yyyy'}}</td>
            <td>{{o.userID}}</td>
            <td>{{o.carID}}</td>
            <td>
                <a routerLink="/orders/{{o.id}}">
                    <button mat-flat-button color="primary">Update </button>
                </a>
            </td>

            <td>
                <button mat-fab color="primary" aria-label="Example icon button with a delete icon"
                    (click)="deleteOrder(o.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </tr>
    </table>
</div>
<br><br>