<section>
    <div class="wrap">
        <div class="about-company ">
            <p>Bling Car Rental Company began operations in Israel in 1994.
                The Israel Company has a large number of branches throughout the country.
                The company's vehicle fleet is characterized by a wide range of modern vehicles.
                The company is located in a large logistics center in Tel Aviv that reflects its focus on customer
                service.
                The complex includes the executive offices, a large garage, a gas station and a washing station. The
                complex also includes a luxurious showroom for the sale of vehicles. The company has various solutions
                in the field of first-hand car sales, car rental in Israel for private customers. Throughout its years
                of operation, the company has been careful to develop a service consciousness, according to which the
                customer and his needs are at the center. The company does everything to ensure a particularly high
                level of service and constant improvement for the benefit of a particularly wide audience of satisfied
                customers in the private sector, car rental and car sales.
                Come too and join our satisfied customers.</p>
            <br>
        </div>

        <div class="wrapA">
            <iframe class="map"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3381.218327477282!2d34.76071481435538!3d32.06334312733872!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d4c909e5b9e27%3A0x35de60f6b3e2336c!2sHaMered%20St%2027%2C%20Tel%20Aviv-Yafo!5e0!3m2!1sen!2sil!4v1582487784822!5m2!1sen!2sil"
                frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            <div class="opening-hours">
                <div class="opening-hours-days">
                    <h3 class="header">Opening Hours</h3>
                    <ul class="list-style-none">
                        <li><strong>Sunday</strong> <span> 09:00 - 20:00</span></li>
                        <li><strong>Monday</strong> <span> 09:00 - 20:00</span></li>
                        <li><strong>Tuesday</strong> <span> 10:00 - 20:00</span></li>
                        <li><strong>Wednesday</strong> <span> 10:00 - 20:00</span></li>
                        <li><strong>Thursday</strong> <span> 10:00 - 20:00</span></li>
                        <li><strong>Friday</strong> <span> 10:00 - 20:00</span></li>
                        <li><strong>Saturday</strong> <span class="text-red"> Close</span></li>
                    </ul>
                </div>
            </div>
            <app-contact-us class="contactus"></app-contact-us>
        </div>
    </div>
</section>

<br><br>