<h1>Login :</h1>

<form #formInfo="ngForm">
    <mat-form-field appearance="fill">
        <mat-label>Enter user name :</mat-label>
        <input matInput type="text" name="userName" [(ngModel)]="credentials.username" required pattern="^[a-zA-Z0-9]*$"
            #userNameInfo="ngModel" maxlength="20" minlength="4">
        <mat-error *ngIf="userNameInfo.errors?.pattern && userNameInfo.touched">Username must be in English only
        </mat-error>
        <mat-error *ngIf="userNameInfo.errors?.required && userNameInfo.touched">Missing username</mat-error>
        <mat-error *ngIf="userNameInfo.errors?.minlength && userNameInfo.touched">Username must be at least 4 character
            long.</mat-error>
    </mat-form-field>
    <br><br>

    <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input [type]="hide ? 'password' : 'text'" matInput name="password" [(ngModel)]="credentials.password" required
            pattern="^[a-zA-Z0-9._]+$" #passwordInfo="ngModel" maxlength="20" minlength="4">
        <mat-error *ngIf="passwordInfo.errors?.pattern && passwordInfo.touched">Password must be english letters and
            numbers</mat-error>
        <mat-error *ngIf="passwordInfo.errors?.required && passwordInfo.touched">Missing password</mat-error>
        <mat-error *ngIf="passwordInfo.errors?.minlength && passwordInfo.touched">Password must be at least 6 character
            long.</mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <br><br>

    <button mat-raised-button color="primary" mat-button [disabled]="formInfo.form.invalid"
        (click)="login()">Login</button>
</form>